<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorator Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard-styles.css">
</head>
<body>
<header>
    <h1>Calorator</h1>
    <button class="logout-button" onclick="logout()">Log Out</button>
</header>

<div class="container">
    <div class="profile">
        <h2>Profile</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" readonly>
        <button onclick="openModal()">Add New Food Entry</button>
    </div>

    <div class="dashboard">
        <h2>Dashboard</h2>
        <div>
            <strong>Number of foods consumed today:</strong> <span id="food-count">0</span>
        </div>
        <div>
            <strong>Calories consumed today:</strong> <span id="total_calories">0</span>
        </div>
        <div>
            <strong>Money spent today:</strong> <span id="money">0</span>
        </div>

        <form id="filterForm">
            <input type="datetime-local" id="startDate" class="input" required>
            <input type="datetime-local" id="endDate" class="input" required>
            <button type="submit" class="button">Filter</button>
        </form>

        <table>
            <thead>
            <tr>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Price</th>
                <th>Entry Date</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody id="foodEntriesTableBody">
            <!-- Food entries will be populated here -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="foodEntryModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Add New Food Entry</h2>
        <form id="foodEntryForm">
            <label for="foodName">Food Name:</label>
            <input type="text" id="foodName" required>
            <label for="calories">Calories:</label>
            <input type="number" id="calories" required>
            <label for="price">Price:</label>
            <input type="number" id="price" step="0.01" required>
            <button type="submit" class="button">Add Entry</button>
        </form>
    </div>
</div>

<script src="../static/js/dashboard-scripts.js"></script>
</body>
</html>
